html,

.body__container{
    background-color: white;
    max-width: 1440px;
    margin:0 auto;
    width: 100%;
}
/* Адаптация для ноутбуков (1280-1440px) */
@media (max-width: 1440px) {
    .logo {
        width: 145px;
        height: 33px;
    }
}

/* Адаптация для ноутбуков (1024-1279px) */
@media (max-width: 1279px) {
    .logo {
        width: 135px;
        height: 31px;
    }
}

/* Адаптация для планшетов (768-1023px) */
@media (max-width: 1023px) {
    .logo {
        width: 125px;
        height: 28px;
    }
}

/* Адаптация для телефонов (480-767px) */
@media (max-width: 767px) {
    .logo {
        width: 110px;
        height: 25px;
    }
}